<div class="container h-100">
  <div class="row row h-100 justify-content-center align-items-center">
    <div class="col-12">
      <form [formGroup]="urlForm">
        <label for="urlInput">URL: </label>
        <input type="url" class="form-control" id="urlInput" formControlName="url" />
      </form>
    </div>
  </div>
  <hr/>
  <div class="row row h-100 justify-content-center align-items-center">
    <div class="col-12">
        <button type="button" class="btn btn-success btn-block" (click)="getUrl()" [disabled]="!isValid">Load</button>
    </div>
  </div>
</div>

